Body{
    font-family: fontello;
    background-color: #fff;
    
    /*  CORES PADRÕES UTILIZADAS NA PÁGINA DA EMPRESA
        background-color: #000; 
        background-color: #343a40;
        color: #6c757d;
        color: #0056b3
        color: #007bff;
        border-color: #ffc107

    */
}